<section>
    <div class="user-detail">
        <%= render "shared/user_card", user: @user %>
        
        <% if @current_user == @user %>
            <%= form_with url: destroy_user_session_path, method: :delete do |f| %>
                <%= f.submit "Log Out", class: "btn warn-btn" %>
            <% end %>
        <% end %>
        <div class="user-bio">
            <h3>Bio</h3>
            <p><%= @user.bio %></p>
        </div>
    </div>

    <div class="recent-posts">
        <% @user.recent_posts.each do |post| %>
            <%= render "shared/post_card", post: post %>
        <% end %>
    </div>

    <%= link_to "See All Posts", user_posts_path(@user), class: "link-btn" %>
</section>