<header class="main-header">
    <div class="brand" >
    <%= link_to "Blogify", root_path%>
    </div>

    <% if user_signed_in? %>
        <div class="profile-container">
            <%= link_to current_user.name, user_path(current_user) %>
            <span class="user-icon"><%= current_user.name[0].upcase %></span>
        </div>
    <% else %>
        <div>
        <%= link_to 'Register', new_user_registration_path, class: "btn primary-btn" %>
        <%= link_to 'Log In', new_user_session_path, class: 'btn primary-btn' %>
        </div>
    <% end %>
    
</header>
