<section>
    <div class="post-container">
        <header>
            <h2 class="post-title"><%= @post.title %> By <%= @post.author.name %></h2>
            <div class="post-info">
                <span>Comments: 💬<%= @post.comments_counter %></span>
                <span>Likes: 💖<%= @post.likes_counter %></span>
            </div>
        </header>
        <p class="post-content">
            <%= @post.text %>
        </p>
    </div>

    <%= render "shared/comment_box", comments: @post.comments %>
</section>