<!DOCTYPE html>
<html>
  <head>
    <title>Blogify</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "main" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  
    <% if notice %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
